# ide
.idea

#build
/docs
*.rpm
*.log
/sqled
/sqled.cnf*
/swag
sqlserver/.vs/
sqlserver/SqlserverProtoServer/obj/
sqlserver/SqlserverProtoServer/bin/
sqlserver/SqlserverProto/obj/
sqlserver/SqlserverProto/bin/
sqlserver/SqlserverProtoServerTest/obj/
sqlserver/SqlserverProtoServerTest/bin/
