# ide
.idea

#build
/docs
*.rpm
*.log
/sqled
/sqled.cnf*
/swag
sqlserver/.vs/
sqlserver/SqlServerProtoServer/obj/
sqlserver/SqlserverProtoServer/bin/
sqlserver/SqlServerProto/obj/
sqlserver/SqlserverProto/bin/
sqlserver/SqlServerProtoServerTest/obj/
sqlserver/SqlserverProtoServerTest/bin/
